$breakpoint-wide: 1500px;
$breakpoint-narrow: 1024px;
$breakpoint-mobile: 800px;

@mixin wide {
  @media (min-width: $breakpoint-wide){
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-mobile + 1) {
    @content;
  }
}

@mixin narrow {
  @media (max-width: $breakpoint-narrow) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: 2x) {
    @content;
  }
}

@mixin portrait {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin landscape {
  @media (orientation: landscape) {
    @content;
  }
}

@mixin touch {
  @media (pointer:coarse) {
    @content;
  }
}

@mixin reduced-motion {
  @media (prefers-reduced-motion) {
    @content;
  }
}

@mixin debug-view {
  html[data-hash='debug'] & {
    @content;
  }
}
